/* ESTRUCTURA BASE */
.portfolio-section {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

/* GRID DE IMÁGENES */
.lg-react-element {
    column-count: 5;
    column-gap: 15px;
    width: 100%;
    margin-bottom: 30px;
}

/* CADA ELEMENTO DE LA GALERÍA */
.portfolio-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px #0000001A; /* Antes: rgba(0,0,0,0.1) */
    cursor: crosshair;
    display: block;
    break-inside: avoid;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

/* HOVER: Efecto de escala al pasar el mouse */
.portfolio-item:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

/* IMÁGENES */
.portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* ANIMACIÓN: Aparición gradual de imágenes */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* ====== PERSONALIZACIÓN DE LIGHTGALLERY ====== */
/* Ocultar solo el texto del sub-html pero mantener el div */
.lg-sub-html {
    color: transparent; /* Hace que el texto sea invisible */
    font-size: 0; /* Reduce el tamaño del texto a 0 */
}
/* Cambio de colores de los elementos del thumb */
.lg-thumb-item {
    border: 2px solid #13002A !important;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
  
  .lg-thumb-item:hover {
    opacity: 1;
  }
  
  .lg-thumb-item.active {
    border-color: #9300FF !important;
    opacity: 1;
  }



/* RESPONSIVE */
@media (max-width: 1200px) {
    .lg-react-element {
        grid-template-columns: repeat(5, 1fr); /* 5 elementos por fila en pantallas medianas */
    }
}

@media (max-width: 900px) {
    .lg-react-element {
        grid-template-columns: repeat(3, 1fr); /* 3 elementos por fila en tablets */
    }
}

@media (max-width: 768px) {
    .lg-react-element {
        grid-template-columns: repeat(2, 1fr); /* 2 elementos por fila en móviles grandes */
        grid-gap: 15px;
    }
    
    .portfolio-expandable {
        max-height: 600px;
    }
}

@media (max-width: 480px) {
    .lg-react-element {
        grid-template-columns: 1fr; /* 1 elemento por fila en móviles pequeños */
    }
    
    .portfolio-container {
        width: calc(100% - 30px); /* Ajusta los márgenes para móviles */
    }
}


/* TODO: Pendiente mejorar el grid para temas responsive */