.section-slider {
    z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem;
}

.swiper-pagination {
          position: static !important;
          margin-top: 1rem;
        }
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background: #0d9488 !important;
          opacity: 0.5;
          cursor: pointer;
        }
        .swiper-pagination-bullet-active {
          opacity: 1;
        }
        /* Mejoramos la visibilidad de los slides activos/inactivos */
        .swiper-slide {
          opacity: 0.6;
          transition: opacity 0.3s;
        }
        .swiper-slide-active {
          opacity: 1;
        }